@import url(./reset.css);

:root {
  --color-1: #f1d204;
  --color-2: #f18b6d;
  --color-3: #6a4d8a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f1f1f1;
  min-height: 100vh;
}

/*---------------------------------------------------------------------------------------
FORMULAIRE DE CONTACT EN FLEXBOX
---------------------------------------------------------------------------------------*/

.container {
  border: solid red 2px;
  padding: 2rem;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
}

.contact {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.contact__title {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 20px;
}

.contact__title::selection {
  background-color: #6a4d8a;
}

.contact__info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  margin-bottom: 20px;
  border: solid rgb(0, 51, 255) 2px;
  padding: 2rem;
}

.contact__info > * {
  border: solid 2px green;
  padding: 1rem;
  width: calc(100% / 3 - 4rem);
  padding: 2rem;
}

.contact__details {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact__heading {
  color: var(--color-1);
  margin-bottom: 10px;
}

.contact__location {
  padding: 1rem 0 2rem 2rem;
  border-left: solid 1px #d3d3d3;
  color: #808080;
  font-weight: bold;
}

.contact__address {
  display: block;
  color: #808080;
  font-weight: bold;
  border: none;
  font-style: normal;
}

.contact__social {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  color: #979494;
  font-size: calc(2rem + 0.5vw);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact__form--inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  border: solid rgb(0, 51, 255) 2px;
  padding: 2rem;
}

.contact__form--inputs > * {
  border: solid #12371d 0px;
  width: calc(100% / 3 - 4rem);
  border: solid rgb(0, 128, 51) 2px;
}

.contact__label {
  display: block;
  padding: 0 0 1rem 0;
  font-size: calc(1rem + 0.5vw);
}

.contact__input,
.contact__textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #fcfcfc;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  color: #ccc;
  font-size: calc(1rem + 0.5vw);
}

.contact__input {
  height: 40px;
}

.contact__textarea {
  height: 25rem;
  resize: none;
}

.contact__button {
  padding: 1.5rem 6rem;
  background-color: #ffc107;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  font-size: calc(1rem + 0.5vw);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
